/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .whyChoose .column:last-child:not(: first-child), .whyChoose .columns:last-child:not(: first-child) {
        float: inherit;
    }
    .headerTop {
        padding-bottom: 28px;
        padding-top: 28px;
    }
    .headerTop.scrollFixed {
        padding-bottom: 20px;
    }
    .chooseItem {
        padding: 0 0 0 15px;
    }
    .chooseItem span {
        margin-right: 15px;
    }
    .chooseItem p {
        font-size: 22px;
        line-height: 24px;
    }
    .processLink p a {
        font-size: 20px;
        height: 150px;
        line-height: 150px;
        width: 150px;
    }
    .processLink img.arrow2 {
        right: -140px;
        top: -30px;
    }
    .processLink img.arrow1,
    .processLink img.arrow3 {
        bottom: -20px;
        left: 40px;
    }
    .designItem {
        position: relative;
    }
    .designItem {
        height: 700px;
    }
    .portfolioItem h2,
    .textContent .hoverText h2 {
        font-size: 20px;
    }
    .carousel {
        padding: 50px 0;
    }
    .contact .contactRight textarea {
        max-width: 100%;
    }
    .heading h1 {
        font-size: 38px;
        line-height: 70px;
    }
    .heading {
        width: 500px;
    }
    .heading:before {
        border-bottom: 155px solid rgba(0, 0, 0, 0.4);
        border-left: 70px solid rgba(0, 0, 0, 0.4);
        right: -70px;
    }
    .heading:after {
        border-top: 155px solid rgba(0, 0, 0, 0.4);
        border-right: 70px solid rgba(0, 0, 0, 0.4);
        left: -70px;
    }
    .headerBottom .slick-prev,
    .headerBottom .slick-next {
        height: 130px;
        width: 50px;
    }
    .headerBottom .slick-prev:before {
        font-size: 60px;
    }
    .contact .contactLeft p span {
        max-width: 300px;
    }
    .headerTop img {
        padding-top: 30px;
    }
    .mainMenu ul li a {
        font-size: 16px;
        margin: 0 5px;
    }
    .mainMenu .menu li .rightBorder {
        font-size: 17px;
    }
    .shape-5 {
        top: 90%;
    }
    .contact .contactRight {
        padding-top: 50px;
    }
    .contact .contactRight textarea {
        margin-bottom: 35px;
    }
}


/* End media min-width 768px  */

@media only screen and (max-width: 767px) {
    .headerTop {
        padding-bottom: 26px;
        padding-top: 26px;
    }
    .shape-5 {
        display: none;
    }
    .chooseItem {
        display: block;
        float: initial;
        margin: 0 auto 80px;
        width: 325px;
        padding: 0 20px;
        float: inherit !important;
    }
    .chooseItem p {
        float: inherit;
        font-size: 29px;
        line-height: 30px;
    }
    .processLink {
        margin-bottom: 30px;
        margin-top: 30px;
        position: relative;
    }
    #menuActive.menu {
        display: none;
    }
    .mainMenu .navbar.mobileMenu {
        display: block;
        margin-bottom: -16px;
    }
    .mainMenu .navbar-collapse .navbar-nav li {
        margin-bottom: 10px;
    }
    .mainMenu {
        margin-bottom: 0;
        margin-top: -60px;
    }
    header {
        padding-top: 150px;
    }
    .headerLogo {
        position: relative;
        z-index: 9;
        padding-left: 35px;
    }
    .contact .contactRight textarea {
        max-width: 100%;
    }
    .heading:before,
    .heading:after {
        display: none;
    }
    .heading {
        width: auto;
        margin: 0 auto 50px;
        padding: 20px;
        text-align: center;
    }
    .heading h1 {
        font-size: 25px;
        line-height: 30px;
        margin: 0 auto;
        width: 340px;
    }
    .item a.seeMore {
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        text-shadow: none;
        width: 150px;
        margin: 0 auto;
    }
    .headerBottom {
        padding: 0 0 50px;
    }
    .processLink p a {
        height: 150px;
        line-height: 150px;
        width: 150px;
        font-size: 18px;
    }
    .processLink img.arrow1,
    .processLink img.arrow3 {
        bottom: -15px;
        left: 115px;
        width: 135px;
    }
    .processLink img.arrow2 {
        right: -60px;
        top: -30px;
        width: 135px;
    }
    .mainMenu .nav.navbar-nav li span {
        display: none;
    }
    .sociaBar ul li a {
        padding: 15px;
    }
    .contact .contactRight {
        padding-top: 30px;
    }
    .contact .contactRight label,
    .contact .contactRight textarea {
        margin-bottom: 30px;
    }
    .designItem a.readMore {
        width: 130px;
    }
    .mainMenu .mobileMenu .navbar-collapse {
        margin-top: 20px;
    }
}


/* End media max-width 767px  */

@media (min-width: 640px) and (max-width: 767px) {
    .headerTop.scrollFixed {
        padding-bottom: 0;
        padding-top: 9px;
    }
    .headerTop {
        padding-bottom: 17px;
    }
    .headerLogo {
        padding-top: 2px;
    }
    .mainMenu .navbar.mobileMenu {
        margin-top: 60px;
    }
}

@media (max-width: 640px) {
    #whyChoose.whyChoose .column:last-child:not(: first-child), #whyChoose.whyChoose .columns:last-child:not(: first-child) {
        float: inherit;
    }
    .processLink p a {
        height: 200px;
        line-height: 200px;
        margin: 0 auto;
        width: 200px;
    }
    .processLink img.arrow1,
    .processLink img.arrow3 {
        bottom: -40px;
        left: 90px;
        transform: rotate(90deg);
    }
    .processLink img.arrow2 {
        right: 90px;
        top: 220px;
        transform: rotate(90deg);
    }
    .mobileView {
        margin-bottom: 0;
        margin-top: 14px;
    }
}


/* End media max-width 480px  */

@media (max-width:440px) {
    .processLink img.arrow2 {
        right: 55px;
        top: 215px;
    }
    .processLink img.arrow1,
    .processLink img.arrow3 {
        left: 55px;
        bottom: -40px;
    }
    .caroudelBody {
        padding: 40px 0 20px;
    }
    .carousel {
        padding: 0 0 30px;
    }
    header {
        padding-top: 130px;
    }
    .mobileView {
        margin-top: 17px;
    }
}


/* End media max-width 440px  */

@media (max-width:380px) {
    .heading h1 {
        font-size: 17px;
        line-height: 24px;
        margin: 0 auto;
        width: 225px;
    }
    footer .sociaBar ul li a {
        font-size: 16px;
        padding: 16px;
    }
    .copy p {
        font-size: 14px;
    }
    .contact .contactLeft p span {
        max-width: 245px;
    }
    .carousel {
        padding: 50px 0;
    }
    .chooseItem {
        float: left;
        margin-bottom: 80px;
        padding-left: 30px;
    }
    .ourProcess {
        padding: 40px 0;
    }
    .ourProcess .processPara p {
        margin: 0 auto 30px;
    }
    .chooseHeading {
        margin: 31px auto 40px;
    }
    .contact .contactLeft {
        padding-bottom: 70px;
        padding-top: 30px;
    }
    .caroudelBody {
        padding: 20px 0;
    }
    .caroudelBody p {
        padding: 0 15px;
    }
    .processLink img.arrow2 {
        right: 35px;
    }
    .processLink img.arrow1,
    .processLink img.arrow3 {
        left: 35px;
    }
    .chooseItem p {
        font-size: 25px;
    }
    .item a.seeMore {
        font-size: 14px;
        height: 35px;
        letter-spacing: 0;
        line-height: 35px;
        width: 110px;
    }
    .designItem a.readMore {
        height: 30px;
        letter-spacing: 0;
        line-height: 30px;
        width: 100px;
    }
}


/* End media max-width 380px  */

@media (max-width:330px) {
    .processLink img.arrow1,
    .processLink img.arrow3 {
        left: 0;
    }
    .processLink img.arrow2 {
        right: 0px;
    }
}


/* End media max-width 340px  */